create extension if not exists "http" with schema "public";

create sequence "public"."auto_publish_logs_id_seq";

create sequence "public"."auto_publish_platforms_id_seq";

create sequence "public"."auto_publish_state_id_seq";

create sequence "public"."catalogs_id_seq";

create sequence "public"."coupons_id_seq";

create sequence "public"."deals_id_seq";

create sequence "public"."holiday_events_id_seq";


  create table "public"."analytics" (
    "id" bigint generated always as identity not null,
    "event_name" text,
    "page" text,
    "referrer" text,
    "device" text,
    "metadata" jsonb,
    "created_at" timestamp with time zone default now(),
    "deal_id" bigint,
    "user_agent" text,
    "ip_address" text,
    "event_type" text,
    "utm_source" text,
    "utm_medium" text,
    "utm_campaign" text,
    "store" text,
    "category" text,
    "is_bot" boolean default false,
    "visitor_id" text
      );


alter table "public"."analytics" enable row level security;


  create table "public"."analytics_events" (
    "id" uuid not null default extensions.uuid_generate_v4(),
    "timestamp" timestamp with time zone default now(),
    "event_type" text,
    "page" text,
    "store" text,
    "deal_id" uuid,
    "user_id" text,
    "referrer" text,
    "device" text,
    "country" text,
    "ip" text
      );


alter table "public"."analytics_events" enable row level security;


  create table "public"."auto_publish_logs" (
    "id" integer not null default nextval('public.auto_publish_logs_id_seq'::regclass),
    "run_time" timestamp with time zone default now(),
    "action" text,
    "deals_published" integer default 0,
    "message" text,
    "created_at" timestamp with time zone default now()
      );


alter table "public"."auto_publish_logs" enable row level security;


  create table "public"."auto_publish_platforms" (
    "id" integer not null default nextval('public.auto_publish_platforms_id_seq'::regclass),
    "x" boolean default true,
    "telegram" boolean default true,
    "facebook" boolean default false,
    "instagram" boolean default false,
    "reddit" boolean default false,
    "updated_at" timestamp with time zone default now()
      );


alter table "public"."auto_publish_platforms" enable row level security;


  create table "public"."auto_publish_settings" (
    "id" bigint generated by default as identity not null,
    "enabled" boolean not null default false,
    "deals_per_cycle" integer not null default 5,
    "interval_minutes" integer not null default 60,
    "updated_at" timestamp without time zone not null default now(),
    "social_enabled" boolean default true,
    "social_interval_minutes" integer default 60,
    "allowed_stores" text[] default ARRAY['Amazon'::text, 'Walmart'::text],
    "bump_enabled" boolean not null default true,
    "bump_cooldown_hours" integer not null default 12,
    "max_bumps_per_deal" integer,
    "allow_bump_if_expired" boolean not null default false
      );


alter table "public"."auto_publish_settings" enable row level security;


  create table "public"."auto_publish_state" (
    "id" integer not null default nextval('public.auto_publish_state_id_seq'::regclass),
    "last_run" timestamp with time zone,
    "next_run" timestamp with time zone,
    "last_count" integer,
    "updated_at" timestamp with time zone default now(),
    "social_last_run" timestamp with time zone,
    "social_next_run" timestamp with time zone,
    "social_last_count" integer default 0,
    "social_last_deal" bigint
      );


alter table "public"."auto_publish_state" enable row level security;


  create table "public"."blog_posts" (
    "id" bigint generated always as identity not null,
    "slug" text not null,
    "title_en" text not null,
    "title_es" text,
    "content_en" text not null,
    "content_es" text,
    "meta_title_en" text,
    "meta_title_es" text,
    "meta_description_en" text,
    "meta_description_es" text,
    "cover_image_url" text,
    "tags" text[],
    "published" boolean default false,
    "published_at" timestamp with time zone,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now()
      );


alter table "public"."blog_posts" enable row level security;


  create table "public"."catalogs" (
    "id" bigint not null default nextval('public.catalogs_id_seq'::regclass),
    "created_at" timestamp with time zone default now(),
    "store_name" text,
    "start_date" date,
    "end_date" date,
    "catalog_link" text,
    "screenshot_link" text,
    "published_at" timestamp with time zone default now()
      );


alter table "public"."catalogs" enable row level security;


  create table "public"."categories" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "slug" text not null,
    "is_active" boolean default true,
    "sort_order" integer default 0,
    "created_at" timestamp with time zone default now()
      );


alter table "public"."categories" enable row level security;


  create table "public"."coupons" (
    "id" bigint not null default nextval('public.coupons_id_seq'::regclass),
    "created_at" timestamp with time zone default now(),
    "store_name" text,
    "coupon_link" text,
    "expiration_date" date,
    "published_at" timestamp with time zone default now(),
    "category" text
      );


alter table "public"."coupons" enable row level security;


  create table "public"."deal_related_links" (
    "id" bigint generated always as identity not null,
    "deal_id" bigint not null,
    "url" text not null,
    "title" text,
    "created_at" timestamp without time zone default now()
      );


alter table "public"."deal_related_links" enable row level security;


  create table "public"."deals" (
    "id" bigint not null default nextval('public.deals_id_seq'::regclass),
    "created_at" timestamp with time zone default now(),
    "description" text,
    "current_price" numeric(12,2),
    "old_price" numeric(12,2),
    "price_diff" numeric(12,2),
    "percent_diff" numeric(5,2),
    "image_link" text,
    "product_link" text,
    "review_link" text,
    "coupon_code" text,
    "shipping_cost" text,
    "notes" text,
    "expire_date" date,
    "category" text,
    "store_name" text,
    "deal_level" text,
    "published_at" timestamp with time zone,
    "status" text default 'Draft'::text,
    "holiday_tag" text,
    "exclude_from_auto" boolean not null default false,
    "description_es" text,
    "slug_es" text,
    "slug" text,
    "notes_es" text,
    "ai_status" text default 'pending'::text,
    "ai_error" text,
    "ai_generated_at" timestamp with time zone,
    "product_link_norm" text,
    "product_key" text,
    "image_key" text,
    "feed_at" timestamp with time zone,
    "superseded_by_id" bigint,
    "superseded_at" timestamp with time zone,
    "canonical_to_id" bigint,
    "bump_count" integer not null default 0,
    "last_bumped_at" timestamp with time zone,
    "is_affiliate" boolean not null default false,
    "affiliate_source" text,
    "affiliate_priority" smallint not null default 0,
    "publish_action" text not null default 'insert'::text,
    "asin" text,
    "upc" text,
    "display_order" bigint not null default 0,
    "category_id" uuid,
    "subcategory_id" uuid,
    "store_id" uuid,
    "platform_id" uuid
      );


alter table "public"."deals" enable row level security;


  create table "public"."holiday_events" (
    "id" bigint not null default nextval('public.holiday_events_id_seq'::regclass),
    "name" text not null,
    "slug" text not null,
    "is_active" boolean not null default false,
    "start_date" date,
    "end_date" date,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now(),
    "active" boolean default true
      );


alter table "public"."holiday_events" enable row level security;


  create table "public"."platforms" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "slug" text not null,
    "is_active" boolean default true,
    "sort_order" integer default 0,
    "created_at" timestamp with time zone default now()
      );


alter table "public"."platforms" enable row level security;


  create table "public"."stores" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "slug" text not null,
    "is_active" boolean default true,
    "sort_order" integer default 0,
    "created_at" timestamp with time zone default now(),
    "website_url" text,
    "icon_url" text,
    "domain" text
      );


alter table "public"."stores" enable row level security;


  create table "public"."subcategories" (
    "id" uuid not null default gen_random_uuid(),
    "category_id" uuid not null,
    "name" text not null,
    "slug" text not null,
    "is_active" boolean default true,
    "sort_order" integer default 0,
    "created_at" timestamp with time zone default now()
      );


alter table "public"."subcategories" enable row level security;

alter sequence "public"."auto_publish_logs_id_seq" owned by "public"."auto_publish_logs"."id";

alter sequence "public"."auto_publish_platforms_id_seq" owned by "public"."auto_publish_platforms"."id";

alter sequence "public"."auto_publish_state_id_seq" owned by "public"."auto_publish_state"."id";

alter sequence "public"."catalogs_id_seq" owned by "public"."catalogs"."id";

alter sequence "public"."coupons_id_seq" owned by "public"."coupons"."id";

alter sequence "public"."deals_id_seq" owned by "public"."deals"."id";

alter sequence "public"."holiday_events_id_seq" owned by "public"."holiday_events"."id";

CREATE UNIQUE INDEX analytics_events_pkey ON public.analytics_events USING btree (id);

CREATE UNIQUE INDEX analytics_pkey ON public.analytics USING btree (id);

CREATE UNIQUE INDEX auto_publish_logs_pkey ON public.auto_publish_logs USING btree (id);

CREATE UNIQUE INDEX auto_publish_platforms_pkey ON public.auto_publish_platforms USING btree (id);

CREATE UNIQUE INDEX auto_publish_settings_pkey ON public.auto_publish_settings USING btree (id);

CREATE UNIQUE INDEX auto_publish_state_pkey ON public.auto_publish_state USING btree (id);

CREATE UNIQUE INDEX blog_posts_pkey ON public.blog_posts USING btree (id);

CREATE INDEX blog_posts_published_idx ON public.blog_posts USING btree (published);

CREATE INDEX blog_posts_slug_idx ON public.blog_posts USING btree (slug);

CREATE UNIQUE INDEX blog_posts_slug_key ON public.blog_posts USING btree (slug);

CREATE UNIQUE INDEX catalogs_pkey ON public.catalogs USING btree (id);

CREATE UNIQUE INDEX categories_pkey ON public.categories USING btree (id);

CREATE UNIQUE INDEX categories_slug_key ON public.categories USING btree (slug);

CREATE UNIQUE INDEX coupons_pkey ON public.coupons USING btree (id);

CREATE INDEX deal_related_links_deal_idx ON public.deal_related_links USING btree (deal_id);

CREATE UNIQUE INDEX deal_related_links_pkey ON public.deal_related_links USING btree (id);

CREATE INDEX deals_active_product_key_idx ON public.deals USING btree (product_key) WHERE ((status = ANY (ARRAY['Published'::text, 'Scheduled'::text])) AND (superseded_by_id IS NULL));

CREATE INDEX deals_feed_at_idx ON public.deals USING btree (feed_at DESC);

CREATE UNIQUE INDEX deals_pkey ON public.deals USING btree (id);

CREATE INDEX deals_product_key_idx ON public.deals USING btree (product_key);

CREATE INDEX deals_status_idx ON public.deals USING btree (status);

CREATE UNIQUE INDEX holiday_events_pkey ON public.holiday_events USING btree (id);

CREATE UNIQUE INDEX holiday_events_slug_key ON public.holiday_events USING btree (slug);

CREATE INDEX idx_categories_sort_order ON public.categories USING btree (sort_order);

CREATE INDEX idx_deals_category_id ON public.deals USING btree (category_id);

CREATE INDEX idx_deals_platform_id ON public.deals USING btree (platform_id);

CREATE INDEX idx_deals_store_id ON public.deals USING btree (store_id);

CREATE INDEX idx_deals_subcategory_id ON public.deals USING btree (subcategory_id);

CREATE INDEX idx_platforms_sort_order ON public.platforms USING btree (sort_order);

CREATE INDEX idx_stores_sort_order ON public.stores USING btree (sort_order);

CREATE INDEX idx_subcategories_sort_order ON public.subcategories USING btree (sort_order);

CREATE UNIQUE INDEX platforms_name_key ON public.platforms USING btree (name);

CREATE UNIQUE INDEX platforms_pkey ON public.platforms USING btree (id);

CREATE UNIQUE INDEX platforms_slug_key ON public.platforms USING btree (slug);

CREATE UNIQUE INDEX stores_name_key ON public.stores USING btree (name);

CREATE UNIQUE INDEX stores_pkey ON public.stores USING btree (id);

CREATE UNIQUE INDEX stores_slug_key ON public.stores USING btree (slug);

CREATE UNIQUE INDEX subcategories_category_id_slug_key ON public.subcategories USING btree (category_id, slug);

CREATE UNIQUE INDEX subcategories_pkey ON public.subcategories USING btree (id);

alter table "public"."analytics" add constraint "analytics_pkey" PRIMARY KEY using index "analytics_pkey";

alter table "public"."analytics_events" add constraint "analytics_events_pkey" PRIMARY KEY using index "analytics_events_pkey";

alter table "public"."auto_publish_logs" add constraint "auto_publish_logs_pkey" PRIMARY KEY using index "auto_publish_logs_pkey";

alter table "public"."auto_publish_platforms" add constraint "auto_publish_platforms_pkey" PRIMARY KEY using index "auto_publish_platforms_pkey";

alter table "public"."auto_publish_settings" add constraint "auto_publish_settings_pkey" PRIMARY KEY using index "auto_publish_settings_pkey";

alter table "public"."auto_publish_state" add constraint "auto_publish_state_pkey" PRIMARY KEY using index "auto_publish_state_pkey";

alter table "public"."blog_posts" add constraint "blog_posts_pkey" PRIMARY KEY using index "blog_posts_pkey";

alter table "public"."catalogs" add constraint "catalogs_pkey" PRIMARY KEY using index "catalogs_pkey";

alter table "public"."categories" add constraint "categories_pkey" PRIMARY KEY using index "categories_pkey";

alter table "public"."coupons" add constraint "coupons_pkey" PRIMARY KEY using index "coupons_pkey";

alter table "public"."deal_related_links" add constraint "deal_related_links_pkey" PRIMARY KEY using index "deal_related_links_pkey";

alter table "public"."deals" add constraint "deals_pkey" PRIMARY KEY using index "deals_pkey";

alter table "public"."holiday_events" add constraint "holiday_events_pkey" PRIMARY KEY using index "holiday_events_pkey";

alter table "public"."platforms" add constraint "platforms_pkey" PRIMARY KEY using index "platforms_pkey";

alter table "public"."stores" add constraint "stores_pkey" PRIMARY KEY using index "stores_pkey";

alter table "public"."subcategories" add constraint "subcategories_pkey" PRIMARY KEY using index "subcategories_pkey";

alter table "public"."blog_posts" add constraint "blog_posts_slug_key" UNIQUE using index "blog_posts_slug_key";

alter table "public"."categories" add constraint "categories_slug_key" UNIQUE using index "categories_slug_key";

alter table "public"."deal_related_links" add constraint "deal_related_links_deal_id_fkey" FOREIGN KEY (deal_id) REFERENCES public.deals(id) ON DELETE CASCADE not valid;

alter table "public"."deal_related_links" validate constraint "deal_related_links_deal_id_fkey";

alter table "public"."deals" add constraint "deals_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public.categories(id) not valid;

alter table "public"."deals" validate constraint "deals_category_id_fkey";

alter table "public"."deals" add constraint "deals_platform_id_fkey" FOREIGN KEY (platform_id) REFERENCES public.platforms(id) not valid;

alter table "public"."deals" validate constraint "deals_platform_id_fkey";

alter table "public"."deals" add constraint "deals_publish_state_check" CHECK ((((status = 'Draft'::text) AND (published_at IS NULL)) OR ((status = 'Published'::text) AND (published_at IS NOT NULL)))) not valid;

alter table "public"."deals" validate constraint "deals_publish_state_check";

alter table "public"."deals" add constraint "deals_store_id_fkey" FOREIGN KEY (store_id) REFERENCES public.stores(id) not valid;

alter table "public"."deals" validate constraint "deals_store_id_fkey";

alter table "public"."deals" add constraint "deals_subcategory_id_fkey" FOREIGN KEY (subcategory_id) REFERENCES public.subcategories(id) not valid;

alter table "public"."deals" validate constraint "deals_subcategory_id_fkey";

alter table "public"."deals" add constraint "draft_display_order_zero" CHECK ((((status = 'Draft'::text) AND (display_order = 0)) OR ((status <> 'Draft'::text) AND (display_order >= 0)))) not valid;

alter table "public"."deals" validate constraint "draft_display_order_zero";

alter table "public"."holiday_events" add constraint "holiday_events_slug_key" UNIQUE using index "holiday_events_slug_key";

alter table "public"."platforms" add constraint "platforms_name_key" UNIQUE using index "platforms_name_key";

alter table "public"."platforms" add constraint "platforms_slug_key" UNIQUE using index "platforms_slug_key";

alter table "public"."stores" add constraint "stores_name_key" UNIQUE using index "stores_name_key";

alter table "public"."stores" add constraint "stores_slug_key" UNIQUE using index "stores_slug_key";

alter table "public"."subcategories" add constraint "subcategories_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE not valid;

alter table "public"."subcategories" validate constraint "subcategories_category_id_fkey";

alter table "public"."subcategories" add constraint "subcategories_category_id_slug_key" UNIQUE using index "subcategories_category_id_slug_key";

set check_function_bodies = off;

CREATE OR REPLACE FUNCTION public.auto_publish_runner()
 RETURNS void
 LANGUAGE plpgsql
AS $function$
DECLARE
  settings RECORD;
  state RECORD;
  picked RECORD;
  last_store TEXT;
BEGIN
  SELECT * INTO settings
  FROM auto_publish_settings
  WHERE id = 1;

  SELECT * INTO state
  FROM auto_publish_state
  WHERE id = 1;

  IF settings.enabled IS FALSE THEN
    INSERT INTO auto_publish_logs(action, message)
    VALUES ('runner_skip', 'Auto-publish disabled.');
    RETURN;
  END IF;

  IF state.next_run IS NOT NULL AND state.next_run > NOW() THEN
    INSERT INTO auto_publish_logs(action, message)
    VALUES (
      'runner_skip',
      'Too early. Next run: ' || state.next_run || ', now=' || NOW()
    );
    RETURN;
  END IF;

  SELECT store_name
  INTO last_store
  FROM deals
  WHERE status = 'Published'
  ORDER BY display_order DESC
  LIMIT 1;

  SELECT *
  INTO picked
  FROM deals
  WHERE status = 'Draft'
    AND exclude_from_auto = FALSE
    AND superseded_by_id IS NULL
    AND (
      store_name <> last_store
      OR NOT EXISTS (
        SELECT 1
        FROM deals d2
        WHERE d2.status = 'Draft'
          AND d2.exclude_from_auto = FALSE
          AND d2.superseded_by_id IS NULL
          AND d2.store_name <> last_store
      )
    )
  ORDER BY
    (
      random() *
      (
        100
        + CASE WHEN is_affiliate THEN 20 ELSE 0 END
        + COALESCE(affiliate_priority, 0) * 10
      )
    ) DESC,
    created_at ASC
  LIMIT 1;

  IF picked.id IS NULL THEN
    INSERT INTO auto_publish_logs(action, message)
    VALUES ('runner_skip', 'No eligible draft deals found.');
    RETURN;
  END IF;

  UPDATE deals
  SET
    status = 'Published',
    published_at = NOW(),
    feed_at = NOW(),
    display_order = EXTRACT(EPOCH FROM NOW()) * 1000
  WHERE id = picked.id
    AND display_order = 0;  -- ≡ƒöæ FIXED LINE

  UPDATE auto_publish_state
  SET
    last_run   = NOW(),
    last_count = 1,
    next_run   = NOW() + (settings.interval_minutes || ' minutes')::interval,
    updated_at = NOW()
  WHERE id = 1;

  INSERT INTO auto_publish_logs(action, message)
  VALUES (
    'runner',
    'Published deal ID ' || picked.id ||
    ' (store=' || COALESCE(picked.store_name, 'n/a') || ')'
  );
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_all_deals()
 RETURNS SETOF public.deals
 LANGUAGE sql
 SECURITY DEFINER
 SET search_path TO 'public'
AS $function$
  select * from public.deals order by id;
$function$
;

CREATE OR REPLACE FUNCTION public.get_all_published_deals()
 RETURNS SETOF public.deals
 LANGUAGE sql
 SECURITY DEFINER
AS $function$
  select * from deals where status = 'Published' order by id;
$function$
;

create type "public"."http_header" as ("field" character varying, "value" character varying);

create type "public"."http_request" as ("method" public.http_method, "uri" character varying, "headers" public.http_header[], "content_type" character varying, "content" character varying);

create type "public"."http_response" as ("status" integer, "content_type" character varying, "headers" public.http_header[], "content" character varying);

CREATE OR REPLACE FUNCTION public.run_social_scheduler()
 RETURNS void
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
begin
  perform net.http_post(
    url := 'https://www.dealswindfall.com/api/social/hourly',
    headers := jsonb_build_object(
      'x-cron-secret', '9f3e7c29f8a94e4bb9dae34234591e95',
      'Content-Type', 'application/json'
    )
  );

  -- Optional logging
  raise notice 'Social scheduler trigger executed.';
end;
$function$
;

CREATE OR REPLACE FUNCTION public.set_updated_at()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
begin
  new.updated_at = now();
  return new;
end;
$function$
;

grant delete on table "public"."analytics" to "anon";

grant insert on table "public"."analytics" to "anon";

grant references on table "public"."analytics" to "anon";

grant select on table "public"."analytics" to "anon";

grant trigger on table "public"."analytics" to "anon";

grant truncate on table "public"."analytics" to "anon";

grant update on table "public"."analytics" to "anon";

grant delete on table "public"."analytics" to "authenticated";

grant insert on table "public"."analytics" to "authenticated";

grant references on table "public"."analytics" to "authenticated";

grant select on table "public"."analytics" to "authenticated";

grant trigger on table "public"."analytics" to "authenticated";

grant truncate on table "public"."analytics" to "authenticated";

grant update on table "public"."analytics" to "authenticated";

grant delete on table "public"."analytics" to "service_role";

grant insert on table "public"."analytics" to "service_role";

grant references on table "public"."analytics" to "service_role";

grant select on table "public"."analytics" to "service_role";

grant trigger on table "public"."analytics" to "service_role";

grant truncate on table "public"."analytics" to "service_role";

grant update on table "public"."analytics" to "service_role";

grant delete on table "public"."analytics_events" to "anon";

grant insert on table "public"."analytics_events" to "anon";

grant references on table "public"."analytics_events" to "anon";

grant select on table "public"."analytics_events" to "anon";

grant trigger on table "public"."analytics_events" to "anon";

grant truncate on table "public"."analytics_events" to "anon";

grant update on table "public"."analytics_events" to "anon";

grant delete on table "public"."analytics_events" to "authenticated";

grant insert on table "public"."analytics_events" to "authenticated";

grant references on table "public"."analytics_events" to "authenticated";

grant select on table "public"."analytics_events" to "authenticated";

grant trigger on table "public"."analytics_events" to "authenticated";

grant truncate on table "public"."analytics_events" to "authenticated";

grant update on table "public"."analytics_events" to "authenticated";

grant delete on table "public"."analytics_events" to "service_role";

grant insert on table "public"."analytics_events" to "service_role";

grant references on table "public"."analytics_events" to "service_role";

grant select on table "public"."analytics_events" to "service_role";

grant trigger on table "public"."analytics_events" to "service_role";

grant truncate on table "public"."analytics_events" to "service_role";

grant update on table "public"."analytics_events" to "service_role";

grant delete on table "public"."auto_publish_logs" to "anon";

grant insert on table "public"."auto_publish_logs" to "anon";

grant references on table "public"."auto_publish_logs" to "anon";

grant select on table "public"."auto_publish_logs" to "anon";

grant trigger on table "public"."auto_publish_logs" to "anon";

grant truncate on table "public"."auto_publish_logs" to "anon";

grant update on table "public"."auto_publish_logs" to "anon";

grant delete on table "public"."auto_publish_logs" to "authenticated";

grant insert on table "public"."auto_publish_logs" to "authenticated";

grant references on table "public"."auto_publish_logs" to "authenticated";

grant select on table "public"."auto_publish_logs" to "authenticated";

grant trigger on table "public"."auto_publish_logs" to "authenticated";

grant truncate on table "public"."auto_publish_logs" to "authenticated";

grant update on table "public"."auto_publish_logs" to "authenticated";

grant delete on table "public"."auto_publish_logs" to "service_role";

grant insert on table "public"."auto_publish_logs" to "service_role";

grant references on table "public"."auto_publish_logs" to "service_role";

grant select on table "public"."auto_publish_logs" to "service_role";

grant trigger on table "public"."auto_publish_logs" to "service_role";

grant truncate on table "public"."auto_publish_logs" to "service_role";

grant update on table "public"."auto_publish_logs" to "service_role";

grant delete on table "public"."auto_publish_platforms" to "anon";

grant insert on table "public"."auto_publish_platforms" to "anon";

grant references on table "public"."auto_publish_platforms" to "anon";

grant select on table "public"."auto_publish_platforms" to "anon";

grant trigger on table "public"."auto_publish_platforms" to "anon";

grant truncate on table "public"."auto_publish_platforms" to "anon";

grant update on table "public"."auto_publish_platforms" to "anon";

grant delete on table "public"."auto_publish_platforms" to "authenticated";

grant insert on table "public"."auto_publish_platforms" to "authenticated";

grant references on table "public"."auto_publish_platforms" to "authenticated";

grant select on table "public"."auto_publish_platforms" to "authenticated";

grant trigger on table "public"."auto_publish_platforms" to "authenticated";

grant truncate on table "public"."auto_publish_platforms" to "authenticated";

grant update on table "public"."auto_publish_platforms" to "authenticated";

grant delete on table "public"."auto_publish_platforms" to "service_role";

grant insert on table "public"."auto_publish_platforms" to "service_role";

grant references on table "public"."auto_publish_platforms" to "service_role";

grant select on table "public"."auto_publish_platforms" to "service_role";

grant trigger on table "public"."auto_publish_platforms" to "service_role";

grant truncate on table "public"."auto_publish_platforms" to "service_role";

grant update on table "public"."auto_publish_platforms" to "service_role";

grant delete on table "public"."auto_publish_settings" to "anon";

grant insert on table "public"."auto_publish_settings" to "anon";

grant references on table "public"."auto_publish_settings" to "anon";

grant select on table "public"."auto_publish_settings" to "anon";

grant trigger on table "public"."auto_publish_settings" to "anon";

grant truncate on table "public"."auto_publish_settings" to "anon";

grant update on table "public"."auto_publish_settings" to "anon";

grant delete on table "public"."auto_publish_settings" to "authenticated";

grant insert on table "public"."auto_publish_settings" to "authenticated";

grant references on table "public"."auto_publish_settings" to "authenticated";

grant select on table "public"."auto_publish_settings" to "authenticated";

grant trigger on table "public"."auto_publish_settings" to "authenticated";

grant truncate on table "public"."auto_publish_settings" to "authenticated";

grant update on table "public"."auto_publish_settings" to "authenticated";

grant delete on table "public"."auto_publish_settings" to "service_role";

grant insert on table "public"."auto_publish_settings" to "service_role";

grant references on table "public"."auto_publish_settings" to "service_role";

grant select on table "public"."auto_publish_settings" to "service_role";

grant trigger on table "public"."auto_publish_settings" to "service_role";

grant truncate on table "public"."auto_publish_settings" to "service_role";

grant update on table "public"."auto_publish_settings" to "service_role";

grant delete on table "public"."auto_publish_state" to "anon";

grant insert on table "public"."auto_publish_state" to "anon";

grant references on table "public"."auto_publish_state" to "anon";

grant select on table "public"."auto_publish_state" to "anon";

grant trigger on table "public"."auto_publish_state" to "anon";

grant truncate on table "public"."auto_publish_state" to "anon";

grant update on table "public"."auto_publish_state" to "anon";

grant delete on table "public"."auto_publish_state" to "authenticated";

grant insert on table "public"."auto_publish_state" to "authenticated";

grant references on table "public"."auto_publish_state" to "authenticated";

grant select on table "public"."auto_publish_state" to "authenticated";

grant trigger on table "public"."auto_publish_state" to "authenticated";

grant truncate on table "public"."auto_publish_state" to "authenticated";

grant update on table "public"."auto_publish_state" to "authenticated";

grant delete on table "public"."auto_publish_state" to "service_role";

grant insert on table "public"."auto_publish_state" to "service_role";

grant references on table "public"."auto_publish_state" to "service_role";

grant select on table "public"."auto_publish_state" to "service_role";

grant trigger on table "public"."auto_publish_state" to "service_role";

grant truncate on table "public"."auto_publish_state" to "service_role";

grant update on table "public"."auto_publish_state" to "service_role";

grant delete on table "public"."blog_posts" to "anon";

grant insert on table "public"."blog_posts" to "anon";

grant references on table "public"."blog_posts" to "anon";

grant select on table "public"."blog_posts" to "anon";

grant trigger on table "public"."blog_posts" to "anon";

grant truncate on table "public"."blog_posts" to "anon";

grant update on table "public"."blog_posts" to "anon";

grant delete on table "public"."blog_posts" to "authenticated";

grant insert on table "public"."blog_posts" to "authenticated";

grant references on table "public"."blog_posts" to "authenticated";

grant select on table "public"."blog_posts" to "authenticated";

grant trigger on table "public"."blog_posts" to "authenticated";

grant truncate on table "public"."blog_posts" to "authenticated";

grant update on table "public"."blog_posts" to "authenticated";

grant delete on table "public"."blog_posts" to "service_role";

grant insert on table "public"."blog_posts" to "service_role";

grant references on table "public"."blog_posts" to "service_role";

grant select on table "public"."blog_posts" to "service_role";

grant trigger on table "public"."blog_posts" to "service_role";

grant truncate on table "public"."blog_posts" to "service_role";

grant update on table "public"."blog_posts" to "service_role";

grant delete on table "public"."catalogs" to "anon";

grant insert on table "public"."catalogs" to "anon";

grant references on table "public"."catalogs" to "anon";

grant select on table "public"."catalogs" to "anon";

grant trigger on table "public"."catalogs" to "anon";

grant truncate on table "public"."catalogs" to "anon";

grant update on table "public"."catalogs" to "anon";

grant delete on table "public"."catalogs" to "authenticated";

grant insert on table "public"."catalogs" to "authenticated";

grant references on table "public"."catalogs" to "authenticated";

grant select on table "public"."catalogs" to "authenticated";

grant trigger on table "public"."catalogs" to "authenticated";

grant truncate on table "public"."catalogs" to "authenticated";

grant update on table "public"."catalogs" to "authenticated";

grant delete on table "public"."catalogs" to "service_role";

grant insert on table "public"."catalogs" to "service_role";

grant references on table "public"."catalogs" to "service_role";

grant select on table "public"."catalogs" to "service_role";

grant trigger on table "public"."catalogs" to "service_role";

grant truncate on table "public"."catalogs" to "service_role";

grant update on table "public"."catalogs" to "service_role";

grant delete on table "public"."categories" to "anon";

grant insert on table "public"."categories" to "anon";

grant references on table "public"."categories" to "anon";

grant select on table "public"."categories" to "anon";

grant trigger on table "public"."categories" to "anon";

grant truncate on table "public"."categories" to "anon";

grant update on table "public"."categories" to "anon";

grant delete on table "public"."categories" to "authenticated";

grant insert on table "public"."categories" to "authenticated";

grant references on table "public"."categories" to "authenticated";

grant select on table "public"."categories" to "authenticated";

grant trigger on table "public"."categories" to "authenticated";

grant truncate on table "public"."categories" to "authenticated";

grant update on table "public"."categories" to "authenticated";

grant delete on table "public"."categories" to "service_role";

grant insert on table "public"."categories" to "service_role";

grant references on table "public"."categories" to "service_role";

grant select on table "public"."categories" to "service_role";

grant trigger on table "public"."categories" to "service_role";

grant truncate on table "public"."categories" to "service_role";

grant update on table "public"."categories" to "service_role";

grant delete on table "public"."coupons" to "anon";

grant insert on table "public"."coupons" to "anon";

grant references on table "public"."coupons" to "anon";

grant select on table "public"."coupons" to "anon";

grant trigger on table "public"."coupons" to "anon";

grant truncate on table "public"."coupons" to "anon";

grant update on table "public"."coupons" to "anon";

grant delete on table "public"."coupons" to "authenticated";

grant insert on table "public"."coupons" to "authenticated";

grant references on table "public"."coupons" to "authenticated";

grant select on table "public"."coupons" to "authenticated";

grant trigger on table "public"."coupons" to "authenticated";

grant truncate on table "public"."coupons" to "authenticated";

grant update on table "public"."coupons" to "authenticated";

grant delete on table "public"."coupons" to "service_role";

grant insert on table "public"."coupons" to "service_role";

grant references on table "public"."coupons" to "service_role";

grant select on table "public"."coupons" to "service_role";

grant trigger on table "public"."coupons" to "service_role";

grant truncate on table "public"."coupons" to "service_role";

grant update on table "public"."coupons" to "service_role";

grant delete on table "public"."deal_related_links" to "anon";

grant insert on table "public"."deal_related_links" to "anon";

grant references on table "public"."deal_related_links" to "anon";

grant select on table "public"."deal_related_links" to "anon";

grant trigger on table "public"."deal_related_links" to "anon";

grant truncate on table "public"."deal_related_links" to "anon";

grant update on table "public"."deal_related_links" to "anon";

grant delete on table "public"."deal_related_links" to "authenticated";

grant insert on table "public"."deal_related_links" to "authenticated";

grant references on table "public"."deal_related_links" to "authenticated";

grant select on table "public"."deal_related_links" to "authenticated";

grant trigger on table "public"."deal_related_links" to "authenticated";

grant truncate on table "public"."deal_related_links" to "authenticated";

grant update on table "public"."deal_related_links" to "authenticated";

grant delete on table "public"."deal_related_links" to "service_role";

grant insert on table "public"."deal_related_links" to "service_role";

grant references on table "public"."deal_related_links" to "service_role";

grant select on table "public"."deal_related_links" to "service_role";

grant trigger on table "public"."deal_related_links" to "service_role";

grant truncate on table "public"."deal_related_links" to "service_role";

grant update on table "public"."deal_related_links" to "service_role";

grant delete on table "public"."deals" to "anon";

grant insert on table "public"."deals" to "anon";

grant references on table "public"."deals" to "anon";

grant select on table "public"."deals" to "anon";

grant trigger on table "public"."deals" to "anon";

grant truncate on table "public"."deals" to "anon";

grant update on table "public"."deals" to "anon";

grant delete on table "public"."deals" to "authenticated";

grant insert on table "public"."deals" to "authenticated";

grant references on table "public"."deals" to "authenticated";

grant select on table "public"."deals" to "authenticated";

grant trigger on table "public"."deals" to "authenticated";

grant truncate on table "public"."deals" to "authenticated";

grant update on table "public"."deals" to "authenticated";

grant delete on table "public"."deals" to "service_role";

grant insert on table "public"."deals" to "service_role";

grant references on table "public"."deals" to "service_role";

grant select on table "public"."deals" to "service_role";

grant trigger on table "public"."deals" to "service_role";

grant truncate on table "public"."deals" to "service_role";

grant update on table "public"."deals" to "service_role";

grant delete on table "public"."holiday_events" to "anon";

grant insert on table "public"."holiday_events" to "anon";

grant references on table "public"."holiday_events" to "anon";

grant select on table "public"."holiday_events" to "anon";

grant trigger on table "public"."holiday_events" to "anon";

grant truncate on table "public"."holiday_events" to "anon";

grant update on table "public"."holiday_events" to "anon";

grant delete on table "public"."holiday_events" to "authenticated";

grant insert on table "public"."holiday_events" to "authenticated";

grant references on table "public"."holiday_events" to "authenticated";

grant select on table "public"."holiday_events" to "authenticated";

grant trigger on table "public"."holiday_events" to "authenticated";

grant truncate on table "public"."holiday_events" to "authenticated";

grant update on table "public"."holiday_events" to "authenticated";

grant delete on table "public"."holiday_events" to "service_role";

grant insert on table "public"."holiday_events" to "service_role";

grant references on table "public"."holiday_events" to "service_role";

grant select on table "public"."holiday_events" to "service_role";

grant trigger on table "public"."holiday_events" to "service_role";

grant truncate on table "public"."holiday_events" to "service_role";

grant update on table "public"."holiday_events" to "service_role";

grant delete on table "public"."platforms" to "anon";

grant insert on table "public"."platforms" to "anon";

grant references on table "public"."platforms" to "anon";

grant select on table "public"."platforms" to "anon";

grant trigger on table "public"."platforms" to "anon";

grant truncate on table "public"."platforms" to "anon";

grant update on table "public"."platforms" to "anon";

grant delete on table "public"."platforms" to "authenticated";

grant insert on table "public"."platforms" to "authenticated";

grant references on table "public"."platforms" to "authenticated";

grant select on table "public"."platforms" to "authenticated";

grant trigger on table "public"."platforms" to "authenticated";

grant truncate on table "public"."platforms" to "authenticated";

grant update on table "public"."platforms" to "authenticated";

grant delete on table "public"."platforms" to "service_role";

grant insert on table "public"."platforms" to "service_role";

grant references on table "public"."platforms" to "service_role";

grant select on table "public"."platforms" to "service_role";

grant trigger on table "public"."platforms" to "service_role";

grant truncate on table "public"."platforms" to "service_role";

grant update on table "public"."platforms" to "service_role";

grant delete on table "public"."stores" to "anon";

grant insert on table "public"."stores" to "anon";

grant references on table "public"."stores" to "anon";

grant select on table "public"."stores" to "anon";

grant trigger on table "public"."stores" to "anon";

grant truncate on table "public"."stores" to "anon";

grant update on table "public"."stores" to "anon";

grant delete on table "public"."stores" to "authenticated";

grant insert on table "public"."stores" to "authenticated";

grant references on table "public"."stores" to "authenticated";

grant select on table "public"."stores" to "authenticated";

grant trigger on table "public"."stores" to "authenticated";

grant truncate on table "public"."stores" to "authenticated";

grant update on table "public"."stores" to "authenticated";

grant delete on table "public"."stores" to "service_role";

grant insert on table "public"."stores" to "service_role";

grant references on table "public"."stores" to "service_role";

grant select on table "public"."stores" to "service_role";

grant trigger on table "public"."stores" to "service_role";

grant truncate on table "public"."stores" to "service_role";

grant update on table "public"."stores" to "service_role";

grant delete on table "public"."subcategories" to "anon";

grant insert on table "public"."subcategories" to "anon";

grant references on table "public"."subcategories" to "anon";

grant select on table "public"."subcategories" to "anon";

grant trigger on table "public"."subcategories" to "anon";

grant truncate on table "public"."subcategories" to "anon";

grant update on table "public"."subcategories" to "anon";

grant delete on table "public"."subcategories" to "authenticated";

grant insert on table "public"."subcategories" to "authenticated";

grant references on table "public"."subcategories" to "authenticated";

grant select on table "public"."subcategories" to "authenticated";

grant trigger on table "public"."subcategories" to "authenticated";

grant truncate on table "public"."subcategories" to "authenticated";

grant update on table "public"."subcategories" to "authenticated";

grant delete on table "public"."subcategories" to "service_role";

grant insert on table "public"."subcategories" to "service_role";

grant references on table "public"."subcategories" to "service_role";

grant select on table "public"."subcategories" to "service_role";

grant trigger on table "public"."subcategories" to "service_role";

grant truncate on table "public"."subcategories" to "service_role";

grant update on table "public"."subcategories" to "service_role";


  create policy "allow_public_insert_analytics"
  on "public"."analytics"
  as permissive
  for insert
  to public
with check (true);



  create policy "allow_service_role_insert"
  on "public"."analytics"
  as permissive
  for insert
  to service_role
with check (true);



  create policy "allow_service_role_insert_analytics"
  on "public"."analytics"
  as permissive
  for insert
  to service_role
with check (true);



  create policy "analytics_admin_read"
  on "public"."analytics"
  as permissive
  for select
  to service_role
using (true);



  create policy "analytics_admin_write"
  on "public"."analytics"
  as permissive
  for insert
  to service_role
with check (true);



  create policy "analytics_no_public_access"
  on "public"."analytics"
  as permissive
  for all
  to public
using (false)
with check (false);



  create policy "deny all analytics"
  on "public"."analytics"
  as permissive
  for all
  to public
using (false);



  create policy "service role manage analytics"
  on "public"."analytics"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "analytics_events_admin_read"
  on "public"."analytics_events"
  as permissive
  for select
  to service_role
using (true);



  create policy "analytics_events_service_insert"
  on "public"."analytics_events"
  as permissive
  for insert
  to service_role
with check (true);



  create policy "deny all analytics events"
  on "public"."analytics_events"
  as permissive
  for all
  to public
using (false);



  create policy "service role manage analytics_events"
  on "public"."analytics_events"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "service role full access logs"
  on "public"."auto_publish_logs"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "deny all platforms"
  on "public"."auto_publish_platforms"
  as permissive
  for all
  to public
using (false);



  create policy "service role full access platforms"
  on "public"."auto_publish_platforms"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "service role full access settings"
  on "public"."auto_publish_settings"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "service role full access state"
  on "public"."auto_publish_state"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "admin manage blog"
  on "public"."blog_posts"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text));



  create policy "admin_full_access_blog_posts"
  on "public"."blog_posts"
  as permissive
  for all
  to service_role
using (true)
with check (true);



  create policy "public read blog"
  on "public"."blog_posts"
  as permissive
  for select
  to public
using (true);



  create policy "public_read_published_blog_posts"
  on "public"."blog_posts"
  as permissive
  for select
  to public
using ((published = true));



  create policy "service role manage blog"
  on "public"."blog_posts"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "admin_full_access_catalogs"
  on "public"."catalogs"
  as permissive
  for all
  to service_role
using (true)
with check (true);



  create policy "block_public_catalogs"
  on "public"."catalogs"
  as permissive
  for all
  to public
using (false)
with check (false);



  create policy "service role manage catalogs"
  on "public"."catalogs"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "categories_admin_full_access"
  on "public"."categories"
  as permissive
  for all
  to public
using (true)
with check (true);



  create policy "admin_full_access_coupons"
  on "public"."coupons"
  as permissive
  for all
  to service_role
using (true)
with check (true);



  create policy "block_public_coupons"
  on "public"."coupons"
  as permissive
  for all
  to public
using (false)
with check (false);



  create policy "service role manage coupons"
  on "public"."coupons"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "deny all deal links"
  on "public"."deal_related_links"
  as permissive
  for all
  to public
using (false);



  create policy "service role manage deal links"
  on "public"."deal_related_links"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "public_read_deals"
  on "public"."deals"
  as permissive
  for select
  to authenticated, anon
using (true);



  create policy "service_role_full_access_deals"
  on "public"."deals"
  as permissive
  for all
  to service_role
using (true)
with check (true);



  create policy "admin_full_access_holiday_events"
  on "public"."holiday_events"
  as permissive
  for all
  to service_role
using (true)
with check (true);



  create policy "public read holidays"
  on "public"."holiday_events"
  as permissive
  for select
  to public
using (true);



  create policy "service role manage holidays"
  on "public"."holiday_events"
  as permissive
  for all
  to public
using ((auth.role() = 'service_role'::text))
with check ((auth.role() = 'service_role'::text));



  create policy "platforms_admin_full_access"
  on "public"."platforms"
  as permissive
  for all
  to public
using (true)
with check (true);



  create policy "stores_admin_full_access"
  on "public"."stores"
  as permissive
  for all
  to public
using (true)
with check (true);



  create policy "subcategories_admin_full_access"
  on "public"."subcategories"
  as permissive
  for all
  to public
using (true)
with check (true);


CREATE TRIGGER trg_holiday_events_updated_at BEFORE UPDATE ON public.holiday_events FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();



